<!DOCTYPE html>
<html>
  <head>
    <title>{{ appName }}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="./css/flag-icon.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
        <script src="/js/html5shiv.min.js"></script>
        <script src="/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <a href="https://github.com/40thoughts/Node.js-RandomController"><img style="position: absolute; top: 0; right: 0; border: 0; z-index: 1050;" src="images/githubRibbon.png" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_green_007200.png"></a>
    {% include './include/nav.html' %}
    <div class="container main" style="padding-top: 60px">
      {% block content %}{% endblock %}
      <div class="row" style="position: absolute; bottom: 10px">
        <div class="container">
          {% include "./include/chat.html" %}
        </div>
      </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    {% block scripts %}{% endblock %}

    <script>
      var socket = io();

      $('#printer').submit(function(){    <!-- Printer -->
        socket.emit('print text', $('#textToPrint').val());
        $('#textToPrint').val('');
        return false;
      });    <!-- Printer End -->
      $('#sendMessage').submit(function(){    <!-- Chat -->
        socket.emit('chat message', $('#m').val());
        $('#m').val('');
        return false;
      });
      socket.on('chat message', function(msg){
        $('#messages').append($('<p>').text(msg));
        element = document.getElementById('messages');
        element.scrollTop = element.scrollHeight;
      });     <!-- Chat End -->
    </script>
  </body>
</html>
